@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500;600;700&family=IBM+Plex+Sans:wght@300;400;500&family=Manrope:wght@200&family=Play&family=Rubik:wght@300&family=Smooch+Sans:wght@100&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}
header .head {
  width: 90%;
  height: 140%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head .logo {
  width: auto;
  height: 50%;
  display: flex;
  align-items: center;
  gap: 5px;
}
header .head .logo .logo_text h1 {
  font-size: 44px;
  font-weight: 800;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: red;
}
header .head .head_element {
  display: flex;
  align-items: center;
  gap: 85px;
}
header .head .head_element a {
  text-decoration: none;
  color: black;
  font-family: "IBM Plex Sans";
  font-size: 23px;
  font-weight: 500;
}
header .head .concat_us {
  display: flex;
  align-items: center;
}
header .head .concat_us .caoncat_btn {
  width: 165px;
  height: 50px;
  background-color: #FF0000;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 19px;
  font-family: "IBM Plex Sans";
  cursor: pointer;
}
header .head .menu_side_bar {
  display: none;
}

main {
  margin-top: 150px;
  width: 100%;
  height: auto;
}
main .make_it_fly {
  margin: auto;
  width: 90%;
  height: 200px;
  display: flex;
  align-items: center;
  gap: 90px;
}
main .make_it_fly .make_1 {
  width: 55%;
  height: 100%;
  display: flex;
  align-items: center;
}
main .make_it_fly .make_1 h1 {
  font-weight: 500;
  font-size: 10rem;
  font-family: "IBM Plex Sans";
  color: #21272A;
  transition: 0.3s ease;
}
main .make_it_fly .make_2 {
  width: 45%;
  height: 90%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
}
main .make_it_fly .make_2 p {
  font-size: 29px;
  transition: 0.3s ease;
  line-height: 2;
}
main .plane_img {
  margin-top: 100px;
  width: 100%;
  height: 700px;
  rotate: 180deg;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
  z-index: 1 !important;
  background-image: url(https://media.cntraveller.com/photos/62da82bf0b87e86bd3c3bc24/16:9/w_1920,c_limit/airport-GettyImages-1333152471.jpeg);
}
main .What_we_do {
  position: relative;
  margin-top: -120px;
  width: 100%;
  height: 800px;
  background-color: #FF3333;
  border-radius: 100px 100px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .What_we_do .cunbe_we_do {
  width: 90%;
  height: 90%;
  margin: auto;
  color: #fff;
}
main .What_we_do .cunbe_we_do .we_do_first {
  width: 100%;
  height: 40%;
  display: flex;
}
main .What_we_do .cunbe_we_do .we_do_first .enter_btn {
  width: 40%;
  height: 100%;
  line-height: 100px;
}
main .What_we_do .cunbe_we_do .we_do_first .enter_btn button {
  margin-left: 5%;
  margin-top: 50px;
  width: 300px;
  height: 50px;
  background: none;
  border: none;
  border: 1px solid white;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
main .What_we_do .cunbe_we_do .we_do_first .enter_btn h1 {
  margin-left: 5%;
  font-size: 56px;
}
main .What_we_do .cunbe_we_do .we_do_first .about_we_do {
  width: 60%;
  height: 100%;
}
main .What_we_do .cunbe_we_do .we_do_first .about_we_do p {
  margin-top: 50px;
  font-size: 25px;
  font-family: "IBM Plex Sans";
  font-weight: 100;
  line-height: 40px;
}
main .What_we_do .cunbe_we_do .we_do_second {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
main .What_we_do .cunbe_we_do .we_do_second .id_plane_first {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
main .What_we_do .cunbe_we_do .we_do_second .id_plane_first .id_plane {
  width: 100%;
  border-bottom: 1px solid white;
}
main .What_we_do .cunbe_we_do .we_do_second .id_plane_first .con_plane_text {
  width: 90%;
}
main .swiss {
  position: relative;
  margin-top: -100px;
  width: 100%;
  height: 800px;
  border-radius: 100px 100px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #394854;
}
main .swiss .swiss_conatiner {
  width: 90%;
  height: 90%;
  display: flex;
}
main .swiss .swiss_conatiner .swiss_right {
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .swiss .swiss_conatiner .swiss_right .swiss_right_text_con {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .swiss .swiss_conatiner .swiss_right .swiss_right_text_con button {
  width: 70%;
  height: 50px;
  background: none;
  border: 1px solid white;
  font-size: 18px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
main .swiss .swiss_conatiner .swiss_right .swiss_right_text_con h1 {
  color: white;
  font-size: 50px;
  font-family: "IBM Plex Sans";
  font-weight: 400;
  line-height: 45px;
}
main .swiss .swiss_conatiner .swiss_right img {
  width: 521px;
  height: 442px;
}
main .swiss .swiss_conatiner .swiss_left {
  width: 40%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .swiss .swiss_conatiner .swiss_left .swiss_slider {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: auto;
}
main .swiss .swiss_conatiner .swiss_left .swiss_slider .slide {
  width: 95%;
  height: 70%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid white;
  color: white;
  font-family: "IBM Plex Sans";
  gap: 20px;
}
main .swiss .swiss_conatiner .swiss_left .swiss_slider .slide h1 {
  font-weight: 400;
}
main .swiss .swiss_conatiner .swiss_left .swiss_slider .slide .bx {
  font-size: 50px;
  color: red;
}
main .swiss .swiss_conatiner .swiss_left .swiss_slider .slide img {
  width: 50px;
  height: 50px;
  color: white;
}
main .swiss .swiss_conatiner .swiss_left .swiss_slider::-webkit-scrollbar {
  width: 10px;
  height: 100%;
  background-color: #394854;
  color: white;
}
main .swiss .swiss_conatiner .swiss_left .swiss_slider::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 5px;
  background-color: rgb(174, 174, 174);
}
main .trusted {
  position: relative;
  margin-top: -100px;
  width: 100%;
  height: 700px;
  border-radius: 100px 100px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
main .trusted .trusted_container {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .trusted .trusted_container .trusted_img {
  width: 50%;
  height: 90%;
}
main .trusted .trusted_container .trusted_img img {
  width: 90%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
}
main .trusted .trusted_container .trusted_text {
  width: 50%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
main .trusted .trusted_container .trusted_text h1 {
  font-family: "IBM Plex Sans";
  font-size: 50px;
  line-height: 50px;
  font-weight: 450;
}
main .trusted .trusted_container .trusted_text p {
  font-size: 18px;
  font-family: "IBM Plex Sans";
}
main .trusted .trusted_container .trusted_text button {
  width: 200px;
  height: 50px;
  border: none;
  background-color: red;
  color: white;
  font-family: "IBM Plex Sans";
  border-radius: 20px;
  cursor: pointer;
}
main .pession {
  position: relative;
  margin-top: -80px;
  width: 100%;
  height: 800px;
  border-radius: 100px 100px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #394854;
}
main .pession .pession_container {
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
main .pession .pession_container .head_pession {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .pession .pession_container .head_pession button {
  width: 180px;
  height: 50px;
  background: none;
  border: none;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: "IBM Plex Sans";
  cursor: pointer;
}
main .pession .pession_container .head_pession h1 {
  font-size: "IBM Plex Sans";
  color: white;
  font-size: 50px;
}
main .pession .pession_container .card_pession {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  gap: 25px;
}
main .pession .pession_container .card_pession .card_passion_1 {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border: 1px solid white;
  color: #fff;
}
main .pession .pession_container .card_pession .card_passion_1 img {
  width: 50px;
  height: 50px;
}
main .pession .pession_container .card_pession .card_passion_1 h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  font-weight: 300;
  margin-left: 20px;
}
main .pession .pession_container .card_pession .card_passion_1 p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 200;
  margin-left: 20px;
}
main .our_partners {
  position: relative;
  margin-top: -95px;
  width: 100%;
  height: 500px;
  border-radius: 100px 100px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF3333;
}
main .our_partners .partners_container {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .our_partners .partners_container .partners_text {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .our_partners .partners_container .partners_text button {
  width: 350px;
  height: 70px;
  border: 1px solid white;
  color: white;
  background: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 100;
}
main .our_partners .partners_container .partners_text button p {
  font-size: 20px;
  font-weight: 100;
}
main .our_partners .partners_container .partners_text h1 {
  font-size: 50px;
  font-weight: 300;
  color: white;
  line-height: 60px;
}
main .our_partners .partners_container .sponsor {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
main .our_partners .partners_container .sponsor p {
  font-size: 25px;
  color: white;
  font-weight: 300;
  font-family: "IBM Plex Sans";
}
main .our_partners .partners_container .sponsor .all_img_partners {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .levarning {
  position: relative;
  margin-top: -100px;
  width: 100%;
  height: 800px;
  border-radius: 100px 100px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
main .levarning .levarning_big_container {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
}
main .levarning .levarning_big_container .levarning_container {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
main .levarning .levarning_big_container .levarning_container .levarning_text {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
main .levarning .levarning_big_container .levarning_container .levarning_text h1 {
  font-size: 60px;
  font-weight: 300;
}
main .levarning .levarning_big_container .levarning_container .levarning_text button {
  width: 250px;
  height: 60px;
  background-color: red;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}
main .levarning .levarning_big_container .levarning_container .levarning_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
}
main .levarning .levarning_big_container .levarning_container .levarning_img img {
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 500px;
}
main .levarning .levarning_big_container .levarning_loading {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
main .levarning .levarning_big_container .levarning_loading .levarning_next {
  display: flex;
  gap: 50px;
}
main .levarning .levarning_big_container .levarning_loading .levarning_next .bx {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 40px;
  cursor: pointer;
}
main .levarning .levarning_big_container .levarning_plane_loading {
  width: 100%;
  position: relative;
  text-align: center;
}
main .levarning .levarning_big_container .levarning_plane_loading .line {
  margin-top: 25px;
  width: 100%;
  border-bottom: dotted red;
  position: absolute;
}
main .swiss_interacation {
  position: relative;
  margin-top: -100px;
  width: 100%;
  height: 600px;
  border-radius: 100px 100px 0 0;
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: #394854;
}
main .swiss_interacation .swiss_interacation_container {
  width: 90%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
main .swiss_interacation .swiss_interacation_container h1 {
  width: 80%;
  text-align: center;
}
main .swiss_interacation .swiss_interacation_container p {
  width: 75%;
  text-align: center;
}
main .swiss_interacation .swiss_interacation_container button {
  background: none;
  border: none;
  border: 1px solid white;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 18px;
  cursor: pointer;
}
main .swiss_interacation .swiss_interacation_container .g_c {
  background-color: red;
  border-radius: 50px;
  border: none;
}
main .opportunities {
  position: relative;
  margin-top: -80px;
  width: 100%;
  height: 700px;
  border-radius: 100px 100px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

@media (max-width: 1800px) {
  main {
    margin-top: 140px;
  }
  main .make_it_fly .make_1 h1 {
    font-size: 9.5rem;
  }
  main .make_it_fly .make_2 {
    width: 42%;
  }
  main .make_it_fly .make_2 p {
    font-size: 25px;
  }
}
@media (max-width: 1650px) {
  main {
    margin-top: 130px;
  }
  main .make_it_fly .make_1 h1 {
    font-size: 8.5rem;
  }
  main .make_it_fly .make_2 {
    gap: 15px;
    width: 43%;
  }
  main .make_it_fly .make_2 p {
    font-size: 23px;
  }
}
@media (max-width: 1500px) {
  header .head .logo .logo_text h1 {
    font-size: 40px;
    font-weight: 800;
  }
  header .head .head_element {
    gap: 60px;
  }
  header .head .head_element a {
    font-size: 20px;
    font-weight: 500;
  }
  header .head .concat_us .caoncat_btn {
    width: 165px;
    height: 50px;
    font-size: 19px;
  }
  main {
    margin-top: 120px;
  }
  main .make_it_fly .make_1 h1 {
    font-size: 7.5rem;
  }
  main .make_it_fly .make_2 {
    width: 45%;
  }
  main .make_it_fly .make_2 p {
    font-size: 21px;
  }
}
@media (max-width: 1400px) {
  header .head .logo {
    gap: 10px;
  }
  header .head .logo .logo_img img {
    width: 65px;
    height: 65px;
  }
  header .head .logo .logo_text h1 {
    font-size: 30px;
    font-weight: 800;
  }
  header .head .head_element {
    gap: 50px;
  }
  header .head .head_element a {
    font-size: 20px;
    font-weight: 500;
  }
  header .head .concat_us .caoncat_btn {
    width: 150px;
    height: 50px;
    font-size: 19px;
  }
  main {
    margin-top: 100px;
  }
  main .make_it_fly .make_1 {
    width: 45%;
  }
  main .make_it_fly .make_1 h1 {
    text-align: center;
    font-size: 6.5rem;
  }
  main .make_it_fly .make_2 {
    width: 55%;
  }
  main .make_it_fly .make_2 p {
    font-size: 20px;
  }
  main .What_we_do .cunbe_we_do .we_do_first .about_we_do p {
    margin-top: 50px;
    font-size: 22px;
    font-family: "IBM Plex Sans";
    font-weight: 100;
    line-height: 35px;
  }
  main .levarning {
    position: relative;
    margin-top: -100px;
    width: 100%;
    height: 800px;
    border-radius: 100px 100px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
  main .levarning .levarning_big_container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
  }
  main .levarning .levarning_big_container .levarning_container {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text h1 {
    font-size: 50px;
    font-weight: 300;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text p {
    font-size: 15px;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text button {
    width: 250px;
    height: 60px;
    background-color: red;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_img img {
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 1200px) {
  header .head .logo {
    gap: 10px;
  }
  header .head .logo .logo_img img {
    width: 55px;
    height: 55px;
  }
  header .head .logo .logo_text h1 {
    font-size: 25px;
    font-weight: 800;
  }
  header .head .head_element {
    gap: 38px;
  }
  header .head .head_element a {
    font-size: 18px;
    font-weight: 500;
  }
  header .head .concat_us .caoncat_btn {
    width: 125px;
    height: 50px;
    font-size: 15px;
  }
  main {
    margin-top: 90px;
  }
  main .make_it_fly .make_1 {
    width: 40%;
  }
  main .make_it_fly .make_1 h1 {
    font-size: 6rem;
    text-align: center;
  }
  main .make_it_fly .make_2 {
    width: 60%;
  }
  main .make_it_fly .make_2 p {
    font-size: 18px;
  }
  main .What_we_do .cunbe_we_do .we_do_first .enter_btn button {
    width: 280px;
  }
  main .What_we_do .cunbe_we_do .we_do_first .enter_btn h1 {
    margin-left: 5%;
    font-size: 52px;
  }
  main .What_we_do .cunbe_we_do .we_do_first .about_we_do p {
    margin-top: 50px;
    font-size: 20px;
    font-family: "IBM Plex Sans";
    font-weight: 100;
    line-height: 30px;
  }
  main .levarning {
    position: relative;
    margin-top: -100px;
    width: 100%;
    height: 800px;
    border-radius: 100px 100px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
  main .levarning .levarning_big_container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
  }
  main .levarning .levarning_big_container .levarning_container {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text h1 {
    font-size: 40px;
    font-weight: 300;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text p {
    font-size: 13px;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text button {
    width: 230px;
    height: 60px;
    background-color: red;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_img img {
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 992px) {
  header .head .logo {
    gap: 5px;
  }
  header .head .logo .logo_img img {
    width: 40px;
    height: 40px;
  }
  header .head .logo .logo_text h1 {
    font-size: 18px;
    font-weight: 800;
  }
  header .head .head_element {
    gap: 25px;
  }
  header .head .head_element a {
    font-size: 15px;
    font-weight: 500;
  }
  header .head .concat_us .caoncat_btn {
    width: 90px;
    height: 40px;
    font-size: 13px;
  }
  main {
    margin-top: 80px;
  }
  main .make_it_fly {
    flex-direction: column;
    height: 280px;
    gap: 20px;
  }
  main .make_it_fly .make_1 {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  main .make_it_fly .make_1 h1 {
    font-size: 7rem;
    display: flex;
    align-items: center;
  }
  main .make_it_fly .make_2 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main .make_it_fly .make_2 p {
    font-size: 18px;
  }
  main .What_we_do .cunbe_we_do .we_do_first {
    flex-direction: column;
    align-items: center;
  }
  main .What_we_do .cunbe_we_do .we_do_first .enter_btn {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .What_we_do .cunbe_we_do .we_do_first .enter_btn button {
    margin-top: 0;
    margin-left: 0;
    width: 280px;
  }
  main .What_we_do .cunbe_we_do .we_do_first .enter_btn h1 {
    margin-left: 0;
    margin-left: 5%;
    font-size: 52px;
  }
  main .What_we_do .cunbe_we_do .we_do_first .about_we_do {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .What_we_do .cunbe_we_do .we_do_first .about_we_do p {
    margin-top: 0;
    text-align: center;
    font-size: 18px;
    font-family: "IBM Plex Sans";
    font-weight: 100;
    line-height: 30px;
  }
  main .What_we_do .cunbe_we_do .we_do_second {
    width: 100%;
    height: 50%;
  }
  main .What_we_do .cunbe_we_do .we_do_second .id_plane_first {
    width: 40%;
    height: 40%;
    gap: 20px;
  }
  main .What_we_do .cunbe_we_do .we_do_second .id_plane_first .id_plane {
    width: 100%;
  }
  main .What_we_do .cunbe_we_do .we_do_second .id_plane_first .con_plane_text {
    width: 90%;
  }
  main .swiss {
    height: 1000px;
  }
  main .swiss .swiss_conatiner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
  }
  main .swiss .swiss_conatiner .swiss_right {
    width: 100%;
    height: 50%;
  }
  main .swiss .swiss_conatiner .swiss_right .swiss_right_text_con {
    width: 100%;
    height: auto;
    align-items: center;
    gap: 20px;
  }
  main .swiss .swiss_conatiner .swiss_right img {
    display: none;
  }
  main .swiss .swiss_conatiner .swiss_left {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .swiss .swiss_conatiner .swiss_left .swiss_slider {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: auto;
  }
  main .swiss .swiss_conatiner .swiss_left .swiss_slider .slide {
    height: 50%;
    width: 95%;
  }
  main .trusted {
    width: 100%;
    height: 900px;
  }
  main .trusted .trusted_container {
    width: 90%;
    height: 90%;
    flex-direction: column;
  }
  main .trusted .trusted_container .trusted_img {
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .trusted .trusted_container .trusted_img img {
    width: 80%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
    background-size: cover;
  }
  main .trusted .trusted_container .trusted_text {
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  main .trusted .trusted_container .trusted_text h1 {
    margin-top: 25px;
    font-family: "IBM Plex Sans";
    font-size: 50px;
    line-height: 50px;
    font-weight: 450;
  }
  main .trusted .trusted_container .trusted_text p {
    font-size: 18px;
    font-family: "IBM Plex Sans";
  }
  main .trusted .trusted_container .trusted_text button {
    width: 200px;
    height: 50px;
    border: none;
    background-color: red;
    color: white;
    font-family: "IBM Plex Sans";
    border-radius: 20px;
    cursor: pointer;
  }
  main .pession {
    height: 1700px;
  }
  main .pession .pession_container {
    justify-content: start;
  }
  main .pession .pession_container .head_pession {
    gap: 25px;
    height: 20%;
  }
  main .pession .pession_container .card_pession {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  main .pession .pession_container .card_pession .card_passion_1 {
    width: 90%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border: 1px solid white;
    color: #fff;
  }
  main .pession .pession_container .card_pession .card_passion_1 img {
    width: 50px;
    height: 50px;
  }
  main .pession .pession_container .card_pession .card_passion_1 h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-left: 20px;
  }
  main .pession .pession_container .card_pession .card_passion_1 p {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 200;
    margin-left: 20px;
  }
  main .our_partners {
    height: 800px;
  }
  main .our_partners .partners_container {
    flex-direction: column;
    justify-content: start;
    gap: 25px;
  }
  main .our_partners .partners_container .partners_text {
    width: 100%;
    height: 30%;
  }
  main .our_partners .partners_container .partners_text button {
    width: 270px;
  }
  main .our_partners .partners_container .partners_text button p {
    font-size: 18px;
  }
  main .our_partners .partners_container .partners_text h1 {
    font-size: 40px;
  }
  main .our_partners .partners_container .sponsor {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }
  main .our_partners .partners_container .sponsor p {
    font-size: 20px;
    color: white;
    font-weight: 300;
    font-family: "IBM Plex Sans";
  }
  main .levarning {
    height: 1000px;
  }
  main .levarning .levarning_big_container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
  }
  main .levarning .levarning_big_container .levarning_container {
    width: 100%;
    height: 80%;
    flex-direction: column;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text h1 {
    font-size: 40px;
    font-weight: 300;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text p {
    font-size: 13px;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text button {
    width: 230px;
    height: 60px;
    background-color: red;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_img {
    width: 100%;
    height: 50%;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_img img {
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 776px) {
  header .head .logo {
    gap: 5px;
  }
  header .head .logo .logo_img img {
    width: 50px;
    height: 50px;
  }
  header .head .logo .logo_text h1 {
    font-size: 30px;
    font-weight: 800;
  }
  header .head .head_element {
    display: none;
  }
  header .head .concat_us {
    display: none;
  }
  header .head .menu_side_bar {
    display: flex;
  }
  header .head .menu_side_bar img {
    cursor: pointer;
  }
  main {
    margin-top: 90px;
  }
  main .make_it_fly .make_1 h1 {
    width: 100%;
    font-size: 6rem;
    text-align: center;
  }
  main .make_it_fly .make_2 {
    justify-content: start;
  }
  main .make_it_fly .make_2 p {
    font-size: 18px;
  }
  main .What_we_do .cunbe_we_do .we_do_first .enter_btn {
    height: 45%;
  }
  main .What_we_do .cunbe_we_do .we_do_first .enter_btn button {
    height: 50px;
  }
  main .What_we_do .cunbe_we_do .we_do_first .enter_btn h1 {
    font-size: 50px;
  }
  main .What_we_do .cunbe_we_do .we_do_first .about_we_do {
    height: 55%;
  }
  main .swiss .swiss_conatiner .swiss_left .swiss_slider .slide {
    width: 95%;
    height: 60%;
  }
  main .swiss .swiss_conatiner .swiss_left .swiss_slider .slide h1 {
    font-size: 20px;
  }
  main .trusted .trusted_container .trusted_text h1 {
    margin-top: 0px;
  }
  main .levarning {
    height: 1000px;
  }
  main .levarning .levarning_big_container {
    width: 90%;
    height: 90%;
  }
  main .levarning .levarning_big_container .levarning_container {
    width: 100%;
    height: 80%;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text {
    width: 100%;
    height: 50%;
    gap: 15px;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text h1 {
    font-size: 35px;
    font-weight: 300;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text p {
    font-size: 13px;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text button {
    width: 200px;
    height: 40px;
    font-size: 18px;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_img img {
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 400px;
  }
}
@media (max-width: 576px) {
  main .make_it_fly {
    gap: 0px;
    height: 240px;
  }
  main .make_it_fly .make_1 {
    justify-content: start;
  }
  main .make_it_fly .make_1 h1 {
    justify-content: start;
    width: 100%;
    font-size: 5rem;
    text-align: center;
  }
  main .make_it_fly .make_2 p {
    font-size: 14px;
  }
  main .What_we_do {
    height: 1000px;
  }
  main .What_we_do .cunbe_we_do .we_do_first .enter_btn {
    height: 40%;
  }
  main .What_we_do .cunbe_we_do .we_do_first .enter_btn button {
    height: 50px;
  }
  main .What_we_do .cunbe_we_do .we_do_first .enter_btn h1 {
    font-size: 50px;
  }
  main .What_we_do .cunbe_we_do .we_do_first .about_we_do {
    height: 55%;
  }
  main .What_we_do .cunbe_we_do .we_do_second {
    width: 100%;
    height: 50%;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .What_we_do .cunbe_we_do .we_do_second .id_plane_first {
    width: 100%;
    height: 27%;
  }
  main .What_we_do .cunbe_we_do .we_do_second .id_plane_first .id_plane {
    width: 100%;
  }
  main .What_we_do .cunbe_we_do .we_do_second .id_plane_first .con_plane_text {
    width: 90%;
  }
  main .trusted {
    width: 100%;
    height: 800px;
  }
  main .trusted .trusted_container {
    width: 90%;
    height: 90%;
    flex-direction: column;
  }
  main .trusted .trusted_container .trusted_img {
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .trusted .trusted_container .trusted_img img {
    width: 80%;
    height: 80%;
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
    background-size: cover;
  }
  main .trusted .trusted_container .trusted_text {
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  main .trusted .trusted_container .trusted_text h1 {
    font-family: "IBM Plex Sans";
    font-size: 30px;
    line-height: 50px;
    font-weight: 450;
  }
  main .trusted .trusted_container .trusted_text p {
    font-size: 13px;
    font-family: "IBM Plex Sans";
  }
  main .trusted .trusted_container .trusted_text button {
    width: 200px;
    height: 50px;
    border: none;
    background-color: red;
    color: white;
    font-family: "IBM Plex Sans";
    border-radius: 20px;
    cursor: pointer;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text {
    gap: 15px;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text h1 {
    font-size: 30px;
    font-weight: 300;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text p {
    font-size: 13px;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text button {
    width: 200px;
    height: 40px;
    font-size: 18px;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_img img {
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
  }
  main .swiss_interacation .swiss_interacation_container h1 {
    font-size: 26px;
    width: 95%;
    text-align: center;
  }
  main .swiss_interacation .swiss_interacation_container p {
    font-size: 13px;
    width: 90%;
    text-align: center;
  }
}
@media (max-width: 470px) {
  main .make_it_fly {
    height: 220px;
  }
  main .make_it_fly .make_1 h1 {
    font-size: 4.2rem;
  }
  main .make_it_fly .make_2 p {
    font-size: 14px;
  }
  main .What_we_do .cunbe_we_do .we_do_first .enter_btn {
    height: 37%;
  }
  main .What_we_do .cunbe_we_do .we_do_first .enter_btn button {
    width: 200px;
    margin-top: 0;
  }
  main .What_we_do .cunbe_we_do .we_do_first .enter_btn h1 {
    font-size: 40px;
  }
  main .What_we_do .cunbe_we_do .we_do_first .about_we_do {
    height: 63%;
  }
  main .What_we_do .cunbe_we_do .we_do_first .about_we_do p {
    line-height: 20px;
    font-size: 15px;
  }
  main .swiss .swiss_conatiner .swiss_right .swiss_right_text_con .h {
    font-size: 30px;
  }
  main .swiss .swiss_conatiner .swiss_left {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .swiss .swiss_conatiner .swiss_left .swiss_slider {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: auto;
  }
  main .swiss .swiss_conatiner .swiss_left .swiss_slider .slide {
    height: 70%;
  }
  main .trusted {
    width: 100%;
    height: 800px;
  }
  main .trusted .trusted_container {
    width: 90%;
    height: 90%;
    flex-direction: column;
  }
  main .trusted .trusted_container .trusted_img {
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .trusted .trusted_container .trusted_img img {
    width: 80%;
    height: 80%;
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
    background-size: cover;
  }
  main .trusted .trusted_container .trusted_text {
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  main .trusted .trusted_container .trusted_text h1 {
    font-family: "IBM Plex Sans";
    font-size: 25px;
    line-height: 40px;
    font-weight: 450;
  }
  main .trusted .trusted_container .trusted_text p {
    font-size: 13px;
    font-family: "IBM Plex Sans";
  }
  main .pession {
    height: 1700px;
  }
  main .pession .pession_container .head_pession {
    height: 20%;
  }
  main .pession .pession_container .card_pession {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  main .pession .pession_container .card_pession .card_passion_1 {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border: 1px solid white;
    color: #fff;
  }
  main .pession .pession_container .card_pession .card_passion_1 img {
    width: 50px;
    height: 50px;
  }
  main .pession .pession_container .card_pession .card_passion_1 h1 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-left: 20px;
  }
  main .pession .pession_container .card_pession .card_passion_1 p {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-weight: 200;
    margin-left: 20px;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text {
    gap: 15px;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text h1 {
    font-size: 30px;
    font-weight: 300;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text p {
    font-size: 13px;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_text button {
    width: 200px;
    height: 40px;
    font-size: 18px;
  }
  main .levarning .levarning_big_container .levarning_container .levarning_img img {
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
}/*# sourceMappingURL=satyle.css.map */