* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease;
}

@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500;600;700&family=IBM+Plex+Sans:wght@300;400;500&family=Manrope:wght@200&family=Play&family=Rubik:wght@300&family=Smooch+Sans:wght@100&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;

    .head {
        width: 90%;
        height: 140%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: auto;
            height: 50%;
            display: flex;
            align-items: center;
            gap: 5px;

            .logo_text {
                h1 {
                    font-size: 44px;
                    font-weight: 800;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    color: red;
                }
            }
        }

        .head_element {
            display: flex;
            align-items: center;
            gap: 85px;

            a {
                text-decoration: none;
                color: black;
                font-family: 'IBM Plex Sans';
                font-size: 23px;
                font-weight: 500;
            }
        }

        .concat_us {
            display: flex;
            align-items: center;

            .caoncat_btn {
                width: 165px;
                height: 50px;
                background-color: #FF0000;
                color: #fff;
                border: none;
                border-radius: 50px;
                font-size: 19px;
                font-family: 'IBM Plex Sans';
                cursor: pointer;
            }
        }

        .menu_side_bar {
            display: none;
        }
    }
}

main {
    margin-top: 150px;
    width: 100%;
    height: auto;

    .make_it_fly {
        margin: auto;
        width: 90%;
        height: 200px;
        display: flex;
        align-items: center;
        gap: 90px;

        .make_1 {
            width: 55%;
            height: 100%;
            display: flex;
            align-items: center;

            h1 {
                font-weight: 500;
                font-size: 10rem;
                font-family: 'IBM Plex Sans';
                color: #21272A;
                transition: 0.3s ease;
            }
        }

        .make_2 {
            width: 45%;
            height: 90%;
            border-bottom: 1px solid black;
            display: flex;
            align-items: center;

            p {
                font-size: 29px;
                transition: 0.3s ease;
                line-height: 2;
            }
        }
    }

    .plane_img {
        margin-top: 100px;
        width: 100%;
        height: 700px;
        rotate: 180deg;
        object-fit: cover;
        background-position: center;
        background-size: cover;
        z-index: 1 !important;
        background-image: url(https://media.cntraveller.com/photos/62da82bf0b87e86bd3c3bc24/16:9/w_1920,c_limit/airport-GettyImages-1333152471.jpeg);
    }

    .What_we_do {
        position: relative;
        margin-top: -120px;
        width: 100%;
        height: 800px;
        background-color: #FF3333;
        border-radius: 100px 100px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .cunbe_we_do {
            width: 90%;
            height: 90%;
            margin: auto;
            color: #fff;

            .we_do_first {
                width: 100%;
                height: 40%;
                display: flex;

                .enter_btn {
                    width: 40%;
                    height: 100%;
                    line-height: 100px;

                    button {
                        margin-left: 5%;
                        margin-top: 50px;
                        width: 300px;
                        height: 50px;
                        background: none;
                        border: none;
                        border: 1px solid white;
                        color: white;
                        border-radius: 10px;
                        cursor: pointer;
                    }

                    h1 {
                        margin-left: 5%;
                        font-size: 56px;
                    }
                }

                .about_we_do {
                    width: 60%;
                    height: 100%;

                    p {
                        margin-top: 50px;
                        font-size: 25px;
                        font-family: 'IBM Plex Sans';
                        font-weight: 100;
                        line-height: 40px;
                    }
                }

            }

            .we_do_second {
                width: 100%;
                height: 50%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                .id_plane_first {
                    width: 20%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 20px;

                    .id_plane {
                        width: 100%;
                        border-bottom: 1px solid white;
                    }

                    .con_plane_text {
                        width: 90%;
                    }
                }
            }
        }
    }

    .swiss {
        position: relative;
        margin-top: -100px;
        width: 100%;
        height: 800px;
        border-radius: 100px 100px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #394854;

        .swiss_conatiner {
            width: 90%;
            height: 90%;
            display: flex;

            .swiss_right {
                width: 60%;
                height: 90%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .swiss_right_text_con {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    button {
                        width: 70%;
                        height: 50px;
                        background: none;
                        border: 1px solid white;
                        font-size: 18px;
                        color: white;
                        border-radius: 10px;
                        cursor: pointer;
                    }

                    h1 {
                        color: white;
                        font-size: 50px;
                        font-family: "IBM Plex Sans";
                        font-weight: 400;
                        line-height: 45px;
                    }
                }

                img {
                    width: 521px;
                    height: 442px;
                }
            }

            .swiss_left {
                width: 40%;
                height: 90%;
                display: flex;
                align-items: center;
                justify-content: center;

                .swiss_slider {
                    width: 90%;
                    height: 90%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    overflow: auto;

                    .slide {
                        width: 95%;
                        height: 70%;
                        flex-shrink: 0;
                        display: flex;
                        flex-direction: column;
                        border-bottom: 1px solid white;
                        color: white;
                        font-family: "IBM Plex Sans";
                        gap: 20px;

                        h1 {
                            font-weight: 400;
                        }

                        .bx {
                            font-size: 50px;
                            color: red;
                        }

                        img {
                            width: 50px;
                            height: 50px;
                            color: white;
                        }
                    }
                }

                .swiss_slider::-webkit-scrollbar {
                    width: 10px;
                    height: 100%;
                    background-color: #394854;
                    color: white;
                }

                .swiss_slider::-webkit-scrollbar-thumb {
                    width: 5px;
                    border-radius: 5px;
                    background-color: rgb(174, 174, 174);
                }
            }
        }
    }

    .trusted {
        position: relative;
        margin-top: -100px;
        width: 100%;
        height: 700px;
        border-radius: 100px 100px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;

        .trusted_container {
            width: 90%;
            height: 90%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .trusted_img {
                width: 50%;
                height: 90%;

                img {
                    width: 90%;
                    height: 75%;
                    object-fit: cover;
                    background-position: center;
                    background-size: cover;
                }
            }

            .trusted_text {
                width: 50%;
                height: 90%;
                display: flex;
                flex-direction: column;
                gap: 25px;

                h1 {
                    font-family: "IBM Plex Sans";
                    font-size: 50px;
                    line-height: 50px;
                    font-weight: 450;
                }

                p {
                    font-size: 18px;
                    font-family: "IBM Plex Sans";
                }

                button {
                    width: 200px;
                    height: 50px;
                    border: none;
                    background-color: red;
                    color: white;
                    font-family: "IBM Plex Sans";
                    border-radius: 20px;
                    cursor: pointer;
                }
            }
        }
    }

    .pession {
        position: relative;
        margin-top: -80px;
        width: 100%;
        height: 800px;
        border-radius: 100px 100px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #394854;

        .pession_container {
            width: 95%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .head_pession {
                height: 30%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                button {
                    width: 180px;
                    height: 50px;
                    background: none;
                    border: none;
                    border: 1px solid white;
                    border-radius: 5px;
                    color: white;
                    font-size: "IBM Plex Sans";
                    cursor: pointer;
                }

                h1 {
                    font-size: "IBM Plex Sans";
                    color: white;
                    font-size: 50px;

                }
            }

            .card_pession {
                width: 100%;
                height: 70%;
                display: flex;
                justify-content: space-around;
                gap: 25px;

                .card_passion_1 {
                    width: 300px;
                    height: 350px;
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    border: 1px solid white;
                    color: #fff;

                    img {
                        width: 50px;
                        height: 50px;
                    }

                    h1 {
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        font-size: 30px;
                        font-weight: 300;
                        margin-left: 20px;
                    }

                    p {
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        font-weight: 200;
                        margin-left: 20px;
                    }
                }
            }
        }
    }

    .our_partners {
        position: relative;
        margin-top: -95px;
        width: 100%;
        height: 500px;
        border-radius: 100px 100px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FF3333;

        .partners_container {
            width: 90%;
            height: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .partners_text {
                width: 35%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                button {
                    width: 350px;
                    height: 70px;
                    border: 1px solid white;
                    color: white;
                    background: none;
                    border-radius: 10px;
                    cursor: pointer;
                    font-weight: 100;

                    p {
                        font-size: 20px;
                        font-weight: 100;
                    }
                }

                h1 {
                    font-size: 50px;
                    font-weight: 300;
                    color: white;
                    line-height: 60px;
                }
            }

            .sponsor {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 25px;

                p {
                    font-size: 25px;
                    color: white;
                    font-weight: 300;
                    font-family: 'IBM Plex Sans';
                }

                .all_img_partners {
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                }
            }
        }
    }

    .levarning {
        position: relative;
        margin-top: -100px;
        width: 100%;
        height: 800px;
        border-radius: 100px 100px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;

        .levarning_big_container {
            width: 90%;
            height: 90%;
            display: flex;
            flex-direction: column;

            .levarning_container {
                width: 100%;
                height: 70%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 50px;

                .levarning_text {
                    width: 40%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 20px;

                    h1 {
                        font-size: 60px;
                        font-weight: 300;
                    }

                    button {
                        width: 250px;
                        height: 60px;
                        background-color: red;
                        border: none;
                        border-radius: 50px;
                        cursor: pointer;
                        font-size: 20px;
                        color: #fff;
                    }
                }

                .levarning_img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40%;
                    height: 100%;

                    img {
                        object-fit: cover;
                        background-position: center;
                        background-size: cover;
                        width: 500px;
                        height: 500px;
                    }
                }
            }

            .levarning_loading {
                width: 100%;
                height: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 25px;

                .levarning_next {
                    display: flex;
                    gap: 50px;

                    .bx {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: red;
                        color: white;
                        font-size: 40px;
                        cursor: pointer;
                    }
                }
            }

            .levarning_plane_loading {
                width: 100%;
                position: relative;
                text-align: center;

                .line {
                    margin-top: 25px;
                    width: 100%;
                    border-bottom: dotted red;
                    position: absolute;
                }
            }
        }
    }

    .swiss_interacation{
        position: relative;
        margin-top: -100px;
        width: 100%;
        height: 600px;
        border-radius: 100px 100px 0 0;
        display: flex;
        justify-content: center;
        align-items: start;
        background-color: #394854;
        .swiss_interacation_container{
            width: 90%;
            height: 80%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            color: #fff;
            h1{
                width: 80%;
                text-align: center;
            }
            p{
                width: 75%;
                text-align: center;
            }
            button{
                background: none;
                border: none;
                border: 1px solid white;
                color: white;
                width: 200px;
                height: 50px;
                font-size: 18px;
                cursor: pointer;
            }
            .g_c{
                background-color: red;
                border-radius: 50px;
                border: none;
            }
        }
    }

    .opportunities{
        position: relative;
        margin-top: -80px;
        width: 100%;
        height: 700px;
        border-radius: 100px 100px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
}

@media(max-width: 1800px) {
    main {
        margin-top: 140px;

        .make_it_fly {
            .make_1 {
                h1 {
                    font-size: 9.5rem;
                }
            }

            .make_2 {
                width: 42%;

                p {
                    font-size: 25px;
                }
            }
        }
    }
}

@media(max-width: 1650px) {
    main {
        margin-top: 130px;

        .make_it_fly {
            .make_1 {
                h1 {
                    font-size: 8.5rem;
                }
            }

            .make_2 {
                gap: 15px;
                width: 43%;

                p {
                    font-size: 23px;
                }
            }
        }
    }
}

@media(max-width: 1500px) {
    header {
        .head {
            .logo {
                .logo_text {
                    h1 {
                        font-size: 40px;
                        font-weight: 800;
                    }
                }
            }

            .head_element {
                gap: 60px;

                a {
                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .concat_us {
                .caoncat_btn {
                    width: 165px;
                    height: 50px;
                    font-size: 19px;
                }
            }
        }
    }

    main {
        margin-top: 120px;

        .make_it_fly {
            .make_1 {
                h1 {
                    font-size: 7.5rem;
                }
            }

            .make_2 {
                width: 45%;

                p {
                    font-size: 21px;
                }
            }
        }
    }
}

@media(max-width: 1400px) {
    header {
        .head {
            .logo {
                gap: 10px;

                .logo_img {
                    img {
                        width: 65px;
                        height: 65px;
                    }
                }

                .logo_text {
                    h1 {
                        font-size: 30px;
                        font-weight: 800;
                    }
                }
            }

            .head_element {
                gap: 50px;

                a {
                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .concat_us {
                .caoncat_btn {
                    width: 150px;
                    height: 50px;
                    font-size: 19px;
                }
            }
        }
    }

    main {
        margin-top: 100px;

        .make_it_fly {
            .make_1 {
                width: 45%;

                h1 {
                    text-align: center;
                    font-size: 6.5rem;
                }
            }

            .make_2 {
                width: 55%;

                p {
                    font-size: 20px;
                }
            }
        }

        .What_we_do {
            .cunbe_we_do {
                .we_do_first {
                    .about_we_do {
                        p {
                            margin-top: 50px;
                            font-size: 22px;
                            font-family: 'IBM Plex Sans';
                            font-weight: 100;
                            line-height: 35px;
                        }
                    }

                }
            }
        }

        .levarning {
            position: relative;
            margin-top: -100px;
            width: 100%;
            height: 800px;
            border-radius: 100px 100px 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
    
            .levarning_big_container {
                width: 90%;
                height: 90%;
                display: flex;
                flex-direction: column;
    
                .levarning_container {
                    width: 100%;
                    height: 60%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 50px;
    
                    .levarning_text {
                        width: 40%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 20px;
    
                        h1 {
                            font-size: 50px;
                            font-weight: 300;
                        }

                        p{
                            font-size: 15px;
                        }
    
                        button {
                            width: 250px;
                            height: 60px;
                            background-color: red;
                            border: none;
                            border-radius: 50px;
                            cursor: pointer;
                            font-size: 20px;
                            color: #fff;
                        }
                    }
    
                    .levarning_img {
                        img {
                            object-fit: cover;
                            background-position: center;
                            background-size: cover;
                            width: 400px;
                            height: 400px;
                        }
                    }
                }
    
            }
        }
    }
}

@media(max-width: 1200px) {
    header {
        .head {
            .logo {
                gap: 10px;

                .logo_img {
                    img {
                        width: 55px;
                        height: 55px;
                    }
                }

                .logo_text {
                    h1 {
                        font-size: 25px;
                        font-weight: 800;
                    }
                }
            }

            .head_element {
                gap: 38px;

                a {
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            .concat_us {
                .caoncat_btn {
                    width: 125px;
                    height: 50px;
                    font-size: 15px;
                }
            }
        }
    }

    main {
        margin-top: 90px;

        .make_it_fly {
            .make_1 {
                width: 40%;

                h1 {
                    font-size: 6rem;
                    text-align: center;
                }
            }

            .make_2 {
                width: 60%;

                p {
                    font-size: 18px;
                }
            }
        }

        .What_we_do {
            .cunbe_we_do {
                .we_do_first {
                    .enter_btn {
                        button {
                            width: 280px;
                        }

                        h1 {
                            margin-left: 5%;
                            font-size: 52px;
                        }
                    }

                    .about_we_do {
                        p {
                            margin-top: 50px;
                            font-size: 20px;
                            font-family: 'IBM Plex Sans';
                            font-weight: 100;
                            line-height: 30px;
                        }
                    }

                }
            }
        }

        .levarning {
            position: relative;
            margin-top: -100px;
            width: 100%;
            height: 800px;
            border-radius: 100px 100px 0 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffffff;
    
            .levarning_big_container {
                width: 90%;
                height: 90%;
                display: flex;
                flex-direction: column;
    
                .levarning_container {
                    width: 100%;
                    height: 60%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 50px;
    
                    .levarning_text {
                        width: 40%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 20px;
    
                        h1 {
                            font-size: 40px;
                            font-weight: 300;
                        }

                        p{
                            font-size: 13px;
                        }
    
                        button {
                            width: 230px;
                            height: 60px;
                            background-color: red;
                            border: none;
                            border-radius: 50px;
                            cursor: pointer;
                            font-size:18px;
                            color: #fff;
                        }
                    }
    
                    .levarning_img {
                        img {
                            object-fit: cover;
                            background-position: center;
                            background-size: cover;
                            width: 400px;
                            height: 400px;
                        }
                    }
                }
    
            }
        }
    }
}

@media(max-width: 992px) {
    header {
        .head {
            .logo {
                gap: 5px;

                .logo_img {
                    img {
                        width: 40px;
                        height: 40px;
                    }
                }

                .logo_text {
                    h1 {
                        font-size: 18px;
                        font-weight: 800;
                    }
                }
            }

            .head_element {
                gap: 25px;

                a {
                    font-size: 15px;
                    font-weight: 500;
                }
            }

            .concat_us {
                .caoncat_btn {
                    width: 90px;
                    height: 40px;
                    font-size: 13px;
                }
            }
        }
    }

    main {
        margin-top: 80px;

        .make_it_fly {
            flex-direction: column;
            height: 280px;
            gap: 20px;

            .make_1 {
                justify-content: center;
                align-items: center;
                width: 100%;

                h1 {
                    font-size: 7rem;
                    display: flex;
                    align-items: center;
                }
            }

            .make_2 {
                width: 100%;
                display: flex;
                justify-content: center;

                p {
                    font-size: 18px;
                }
            }
        }

        .What_we_do {
            .cunbe_we_do {
                .we_do_first {
                    flex-direction: column;
                    align-items: center;

                    .enter_btn {
                        width: 100%;
                        height: 45%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        button {
                            margin-top: 0;
                            margin-left: 0;
                            width: 280px;
                        }

                        h1 {
                            margin-left: 0;
                            margin-left: 5%;
                            font-size: 52px;
                        }
                    }

                    .about_we_do {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        p {
                            margin-top: 0;
                            text-align: center;
                            font-size: 18px;
                            font-family: 'IBM Plex Sans';
                            font-weight: 100;
                            line-height: 30px;
                        }
                    }

                }

                .we_do_second {
                    width: 100%;
                    height: 50%;

                    .id_plane_first {
                        width: 40%;
                        height: 40%;
                        gap: 20px;

                        .id_plane {
                            width: 100%;
                        }

                        .con_plane_text {
                            width: 90%;
                        }
                    }
                }
            }
        }

        .swiss {
            height: 1000px;

            .swiss_conatiner {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 90%;
                height: 80%;

                .swiss_right {
                    width: 100%;
                    height: 50%;

                    .swiss_right_text_con {
                        width: 100%;
                        height: auto;
                        align-items: center;
                        gap: 20px;
                    }

                    img {
                        display: none;
                    }
                }

                .swiss_left {
                    width: 90%;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .swiss_slider {
                        width: 100%;
                        height: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        overflow-x: auto;

                        .slide {
                            height: 50%;
                            width: 95%;
                        }
                    }
                }
            }
        }

        .trusted {
            width: 100%;
            height: 900px;

            .trusted_container {
                width: 90%;
                height: 90%;
                flex-direction: column;

                .trusted_img {
                    width: 90%;
                    height: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 80%;
                        height: 100%;
                        object-fit: cover;
                        background-position: center;
                        background-size: cover;
                    }
                }

                .trusted_text {
                    width: 90%;
                    height: 60%;
                    display: flex;
                    flex-direction: column;
                    gap: 25px;

                    h1 {
                        margin-top: 25px;
                        font-family: "IBM Plex Sans";
                        font-size: 50px;
                        line-height: 50px;
                        font-weight: 450;
                    }

                    p {
                        font-size: 18px;
                        font-family: "IBM Plex Sans";
                    }

                    button {
                        width: 200px;
                        height: 50px;
                        border: none;
                        background-color: red;
                        color: white;
                        font-family: "IBM Plex Sans";
                        border-radius: 20px;
                        cursor: pointer;
                    }
                }
            }
        }

        .pession {
            height: 1700px;

            .pession_container {
                justify-content: start;

                .head_pession {
                    gap: 25px;
                    height: 20%;
                }

                .card_pession {
                    width: 100%;
                    height: 70%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 25px;

                    .card_passion_1 {
                        width: 90%;
                        height: 350px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 25px;
                        border: 1px solid white;
                        color: #fff;

                        img {
                            width: 50px;
                            height: 50px;
                        }

                        h1 {
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 30px;
                            font-weight: 300;
                            margin-left: 20px;
                        }

                        p {
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-weight: 200;
                            margin-left: 20px;
                        }
                    }
                }
            }
        }

        .our_partners {
            height: 800px;

            .partners_container {
                flex-direction: column;
                justify-content: start;
                gap: 25px;

                .partners_text {
                    width: 100%;
                    height: 30%;

                    button {
                        width: 270px;

                        p {
                            font-size: 18px;
                        }
                    }

                    h1 {
                        font-size: 40px;
                    }
                }

                .sponsor {
                    width: 100%;
                    height: 40%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 25px;

                    p {
                        font-size: 20px;
                        color: white;
                        font-weight: 300;
                        font-family: 'IBM Plex Sans';
                    }
                }
            }
        }

        .levarning {
            height: 1000px;
    
            .levarning_big_container {
                width: 90%;
                height: 90%;
                display: flex;
                flex-direction: column;
    
                .levarning_container {
                    width: 100%;
                    height: 80%;
                    flex-direction: column;
    
                    .levarning_text {
                        width: 100%;
                        height: 50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 20px;
    
                        h1 {
                            font-size: 40px;
                            font-weight: 300;
                        }

                        p{
                            font-size: 13px;
                        }
    
                        button {
                            width: 230px;
                            height: 60px;
                            background-color: red;
                            border: none;
                            border-radius: 50px;
                            cursor: pointer;
                            font-size:18px;
                            color: #fff;
                        }
                    }
    
                    .levarning_img {
                        width: 100%;
                        height: 50%;
                        img {
                            object-fit: cover;
                            background-position: center;
                            background-size: cover;
                            width: 400px;
                            height: 400px;
                        }
                    }
                }
    
            }
        }

    }
}

@media(max-width: 776px) {
    header {
        .head {
            .logo {
                gap: 5px;

                .logo_img {
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }

                .logo_text {
                    h1 {
                        font-size: 30px;
                        font-weight: 800;
                    }
                }
            }

            .head_element {
                display: none;
            }

            .concat_us {
                display: none;
            }

            .menu_side_bar {
                display: flex;

                img {
                    cursor: pointer;
                }
            }
        }
    }

    main {
        margin-top: 90px;

        .make_it_fly {
            .make_1 {

                h1 {
                    width: 100%;
                    font-size: 6rem;
                    text-align: center;
                }
            }

            .make_2 {
                justify-content: start;

                p {
                    font-size: 18px;
                }
            }
        }

        .What_we_do {
            .cunbe_we_do {
                .we_do_first {
                    .enter_btn {
                        height: 45%;

                        button {
                            height: 50px;
                        }

                        h1 {
                            font-size: 50px;
                        }
                    }

                    .about_we_do {
                        height: 55%;
                    }
                }
            }
        }

        .swiss {
            .swiss_conatiner {
                .swiss_left {
                    .swiss_slider {
                        .slide {
                            width: 95%;
                            height: 60%;

                            h1 {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }

        .trusted {
            .trusted_container {
                .trusted_text {
                    h1 {
                        margin-top: 0px;
                    }
                }
            }
        }

        .levarning {
            height: 1000px;
    
            .levarning_big_container {
                width: 90%;
                height: 90%;
    
                .levarning_container {
                    width: 100%;
                    height: 80%;
    
                    .levarning_text {
                        width: 100%;
                        height: 50%;
                        gap: 15px;
    
                        h1 {
                            font-size: 35px;
                            font-weight: 300;
                        }

                        p{
                            font-size: 13px;
                        }
    
                        button {
                            width: 200px;
                            height: 40px;
                            font-size:18px;
                        }
                    }
    
                    .levarning_img {
                        img {
                            object-fit: cover;
                            background-position: center;
                            background-size: cover;
                            width: 500px;
                            height: 400px;
                        }
                    }
                }
    
            }
        }
    }
}

@media(max-width: 576px) {
    main {
        .make_it_fly {
            gap: 0px;
            height: 240px;

            .make_1 {
                justify-content: start;

                h1 {
                    justify-content: start;
                    width: 100%;
                    font-size: 5rem;
                    text-align: center;
                }
            }

            .make_2 {
                p {
                    font-size: 14px;
                }
            }
        }

        .What_we_do {
            height: 1000px;

            .cunbe_we_do {
                .we_do_first {
                    .enter_btn {
                        height: 40%;

                        button {
                            height: 50px;
                        }

                        h1 {
                            font-size: 50px;
                        }
                    }

                    .about_we_do {
                        height: 55%;
                    }
                }

                .we_do_second {
                    width: 100%;
                    height: 50%;
                    flex-wrap: wrap;
                    justify-content: center;

                    .id_plane_first {
                        width: 100%;
                        height: 27%;

                        .id_plane {
                            width: 100%;
                        }

                        .con_plane_text {
                            width: 90%;
                        }
                    }
                }
            }
        }

        .trusted {
            width: 100%;
            height: 800px;

            .trusted_container {
                width: 90%;
                height: 90%;
                flex-direction: column;

                .trusted_img {
                    width: 90%;
                    height: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 80%;
                        height: 80%;
                        object-fit: cover;
                        background-position: center;
                        background-size: cover;
                    }
                }

                .trusted_text {
                    width: 90%;
                    height: 60%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    h1 {
                        font-family: "IBM Plex Sans";
                        font-size: 30px;
                        line-height: 50px;
                        font-weight: 450;
                    }

                    p {
                        font-size: 13px;
                        font-family: "IBM Plex Sans";
                    }

                    button {
                        width: 200px;
                        height: 50px;
                        border: none;
                        background-color: red;
                        color: white;
                        font-family: "IBM Plex Sans";
                        border-radius: 20px;
                        cursor: pointer;
                    }
                }
            }
        }

        .levarning {
            .levarning_big_container {
                .levarning_container {
                    .levarning_text {
                        gap: 15px;
                        h1 {
                            font-size: 30px;
                            font-weight: 300;
                        }

                        p{
                            font-size: 13px;
                        }
    
                        button {
                            width: 200px;
                            height: 40px;
                            font-size:18px;
                        }
                    }
    
                    .levarning_img {
                        img {
                            object-fit: cover;
                            background-position: center;
                            background-size: cover;
                            width: 400px;
                            height: 400px;
                        }
                    }
                }
    
            }
        }

        .swiss_interacation{
            .swiss_interacation_container{
                h1{
                    font-size: 26px;
                    width: 95%;
                    text-align: center;
                }
                p{
                    font-size: 13px;
                    width: 90%;
                    text-align: center;
                }
            }
        }
    }
}

@media(max-width: 470px) {
    main {
        .make_it_fly {
            height: 220px;

            .make_1 {
                h1 {
                    font-size: 4.2rem;
                }
            }

            .make_2 {
                p {
                    font-size: 14px;
                }
            }
        }

        .What_we_do {
            .cunbe_we_do {
                .we_do_first {
                    .enter_btn {
                        height: 37%;

                        button {
                            width: 200px;
                            margin-top: 0;
                        }

                        h1 {
                            font-size: 40px;
                        }
                    }

                    .about_we_do {
                        height: 63%;

                        p {
                            line-height: 20px;
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        .swiss {
            .swiss_conatiner {
                .swiss_right {
                    .swiss_right_text_con {
                        .h {
                            font-size: 30px;
                        }
                    }
                }

                .swiss_left {
                    width: 90%;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .swiss_slider {
                        width: 100%;
                        height: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        overflow-x: auto;

                        .slide {
                            height: 70%;
                        }
                    }
                }
            }
        }

        .trusted {
            width: 100%;
            height: 800px;

            .trusted_container {
                width: 90%;
                height: 90%;
                flex-direction: column;

                .trusted_img {
                    width: 90%;
                    height: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 80%;
                        height: 80%;
                        object-fit: cover;
                        background-position: center;
                        background-size: cover;
                    }
                }

                .trusted_text {
                    width: 90%;
                    height: 60%;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    h1 {
                        font-family: "IBM Plex Sans";
                        font-size: 25px;
                        line-height: 40px;
                        font-weight: 450;
                    }

                    p {
                        font-size: 13px;
                        font-family: "IBM Plex Sans";
                    }
                }
            }
        }

        .pession {
            height: 1700px;

            .pession_container {
                .head_pession {
                    height: 20%;
                }

                .card_pession {
                    width: 100%;
                    height: 70%;
                    display: flex;
                    flex-direction: column;
                    gap: 25px;

                    .card_passion_1 {
                        width: 100%;
                        height: 350px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 25px;
                        border: 1px solid white;
                        color: #fff;

                        img {
                            width: 50px;
                            height: 50px;
                        }

                        h1 {
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-size: 30px;
                            font-weight: 300;
                            margin-left: 20px;
                        }

                        p {
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-weight: 200;
                            margin-left: 20px;
                        }
                    }
                }
            }
        }

        .levarning {
            .levarning_big_container {
                .levarning_container {
                    .levarning_text {
                        gap: 15px;
                        h1 {
                            font-size: 30px;
                            font-weight: 300;
                        }

                        p{
                            font-size: 13px;
                        }
    
                        button {
                            width: 200px;
                            height: 40px;
                            font-size:18px;
                        }
                    }
    
                    .levarning_img {
                        img {
                            object-fit: cover;
                            background-position: center;
                            background-size: cover;
                            width: 300px;
                            height: 300px;
                        }
                    }
                }
    
            }
        }
    }
}